.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-color);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    background-color: var(--primary-white-color);
}

.button-close {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 8px;
    border-radius: 50%;
    color: var(--primary-text-color);
    background: var(--primary-white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.icon-close {
    fill: currentColor;
}

.modal-form {
    width: 528px;
    margin: 0 auto;
    padding: 40px;
    background: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.margin {
    margin-top: 12px;
}

.modal-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--primary-text-color);
}

.form-field {
    display: flex;
    flex-direction: column;
}

.form-field+.form-field {
    margin-top: 10px;
}

.form-field span {
    position: relative;
}

.form-field label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);
}

.color-icon {
    color: var(--primary-text-color);
}

.form-field input {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 14px;
    padding-left: 35px;
    margin-top: 4px;

    transition-property: border, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    display: inline-block;
    fill: currentColor;
}

.form-field input:focus {
    outline: none;
    border: 1px solid var(--accent-color);
}

.form-field input:focus~.modal-icon {
    color: var(--accent-color);
}

.form-field textarea {
    padding: 12px 16px;
}

.form-field textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-textarea {
    outline: none;
    resize: none;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 4px;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.checkbox input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox input:checked+.checkbox-icon {
    border-radius: 2px;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
    background-size: contain;
    background-origin: border-box;
    fill: var(--accent-color);
}

.checkbox input:focus+.checkbox-icon {
    border-color: var(--accent-color);
}

.checkbox label {
    display: flex;
    align-items: center;
}

.checkbox-icon {
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    display: inline-block;
}

.checkbox-text {
    line-height: 1.71;
    color: var(--text-color);
}

.checkbox-link {
    color: var(--accent-color);
}

.modal-send {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.modal-send-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    padding: 10px 55px;
    min-width: 200px;

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    font-family: inherit;
}