.section-work {
    display: none;

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.work-list {
    display: flex;
}

.work-list__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.work-list__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: var(--work-background-color);

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-white-color);
}